<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
	<th:block layout:fragment="title">
			<title>메인페이지</title>
	</th:block>
	<th:block layout:fragment="add-css">
		<link rel="stylesheet" th:href="@{/css/kakaoMaps.css}">
	</th:block>
	<th:block layout:fragment="content">
		<div>
			<button type="button" id="btnFineDustStatus" onclick="location.href='/'">미세먼지 현황</button>
		</div>

		<h1>자전거 경로</h1>
		<div id="wrapper">
			<!-- 지도를 표시할 div 입니다 -->
			<div id="map" style="width:70%;height:500px;float:left;margin:20px"></div>
		
			<div id="mapSidebar" style="float:left">
				<div id="trafficinfo">
					<span class="txt">실시간 교통 정보</span>
					<br>
					<!-- <input type="checkbox" checked data-toggle="toggle" data-onstyle="success"> -->
					<input type="checkbox" id="trafficInfo">
					<label for="trafficInfo"></label>
				</div>
								
				<div>
					<span class="txt">키워드 : </span> <input type="text" name="keyword" id="keyword" placeholder="키워드, 주소 등을 입력">
					<br>
					<button class="pathFinder" type="button" id="btnSearchKeyword">검색</button>
					<br><br>
					
				</div>
				
				<div>
					<span class="txt">출발지 : </span>
					<div id="startAddr"></div>
					<br>
					<span class="txt">목적지 : </span>
					<div id="endAddr"></div>
				</div>
				<br><br>
				<div>
					<button class="pathFinder" type="button" id="btnPathFinder">경로찾기</button>
					<button class="pathFinder" type="button" id="btnDisablePathFinder">경로해제</button>
				</div>
				
				<div>
					<span class="txt">거리 : </span><span id="distance"></span>
					<br>
					<span class="txt">예상시간 : </span><span id="duration"></span>
					<br>
					<span class="txt">예상 흡입량 : </span><span id="inhalePm10"></span>
				</div>
			</div>
		</div>
	
		
		<link th:href="@{/css/function.css}" rel="stylesheet">
		<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8342abea7f0e15b6a6509a2411a4c29f&libraries=services,clusterer,drawing"></script>
		<script th:src="@{/js/map/pathFind.js}"></script>
		
	</th:block>
</html>